<%- include('../includes/head.ejs') %>


</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="mainProduct">
        <div class="product-title"> <h2><%= prodDetails.title %></h2></div>
        <div class="product-details">
            <div class="product-image"> 
                <img src=<%= prodDetails.imageUrl %> alt=<%= prodDetails.title %>>
            </div>
            <div class="product-description">
                <p><%= prodDetails.description %></p>
            </div>
        </div>
        <form action="/cart" method="post">
            <button type="submit" class="btn mt">Add to Cart</button>
            <input type="hidden" name="productId" value="<%=prodDetails.id%>">
        </form>
    </main>
    <%- include('../includes/end.ejs') %>